name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  format:
    name: Format
    runs-on: ubuntu-20.04
    steps:
      - name: Branch Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install Java And Sbt
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.cache/coursier
            $HOME/.ivy2/cache
            $HOME/.sbt/boot/
            $HOME/.sbt
            lib_managed
            target
            project/target
          key: ${{ runner.os }}-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - name: Check with Scalafmt
        run: sbt ++2.13.6 fmtCheck
  build:
    name: Test
    needs: format
    strategy:
      matrix:
        scala:
          - 2.12.15
          - 2.13.6
        java:
          - adopt@1.11
          - adopt@1.15
        os:
          - ubuntu-20.04
    runs-on: ${{ matrix.os }}
    environment: CI
    steps:
      - name: Branch Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install Java And Sbt
        uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.cache/coursier
            $HOME/.ivy2/cache
            $HOME/.sbt/boot/
            $HOME/.sbt
            lib_managed
            target
            project/target
          key: ${{ runner.os }}-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - name: Test (${{ matrix.scala }}, ${{ matrix.java }})
        run: |
          echo $OCI_PRIVATE_KEY_BASE64 | base64 -d > $OCI_PRIVATE_KEY
          sbt ++${{ matrix.scala }} fullTest
        env:
          OCI_USER_ID: ${{ secrets.OCI_USER_ID }}
          OCI_TENANT_ID: ${{ secrets.OCI_TENANT_ID }}
          OCI_FINGERPRINT: ${{ secrets.OCI_FINGERPRINT }}
          OCI_PRIVATE_KEY_BASE64: ${{ secrets.OCI_PRIVATE_KEY_BASE64 }}
          OCI_PRIVATE_KEY: /tmp/oci_key.pem
  publish_212:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    name: Publish Snapshot 2.12
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - name: Branch Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install Java And Sbt
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.cache/coursier
            $HOME/.ivy2/cache
            $HOME/.sbt/boot/
            $HOME/.sbt
            lib_managed
            target
            project/target
          key: ${{ runner.os }}-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - name: Publish Snapshot for Scala 2.12
        run: CI_SNAPSHOT_RELEASE=publish sbt ++2.12.15 releaseIt
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
  publish_213:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    name: Publish Snapshot 2.13
    needs: publish_212
    runs-on: ubuntu-20.04
    steps:
      - name: Branch Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Install Java And Sbt
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.cache/coursier
            $HOME/.ivy2/cache
            $HOME/.sbt/boot/
            $HOME/.sbt
            lib_managed
            target
            project/target
          key: ${{ runner.os }}-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}
      - name: Publish Snapshot for Scala 2.13
        run: CI_SNAPSHOT_RELEASE=publish sbt ++2.13.6 releaseIt
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
