name: Integration Tests
on:
  pull_request_target:
    types: [labeled]

env:
  OCI_PRIVATE_KEY: /tmp/oci_key.pem

jobs:
  integrationTests:
    name: Integration Tests
    if: contains(github.event.pull_request.labels.*.name, 'safe for integration tests')
    strategy:
      matrix:
        scala: [2.12.17, 2.13.10]
        java: [ '11', '17' ]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      name: Setup Java
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'sbt'

    - name: Set up OCI key
      run: echo $OCI_PRIVATE_KEY_BASE64 | base64 -d > $OCI_PRIVATE_KEY
      env:
        OCI_PRIVATE_KEY_BASE64: ${{ secrets.OCI_PRIVATE_KEY_BASE64 }}

    - name: Test (${{ matrix.scala }}, ${{ matrix.java }})
      run: sbt ++${{ matrix.scala }} "IntegrationTest / test"
      env:
        OCI_USER_ID: ${{ secrets.OCI_USER_ID }}
        OCI_TENANT_ID: ${{ secrets.OCI_TENANT_ID }}
        OCI_FINGERPRINT: ${{ secrets.OCI_FINGERPRINT }}
